footer {
  margin-top: auto;
  background-color: #222222; /* Background color for the footer */
  color: #fff; /* Text color */
  text-align: center; /* Center-align the text */
  padding: 10px; /* Add some padding inside the footer */
  width: 100%; /* Ensures the footer spans the full width */
  position: relative; /* Ensures it behaves correctly with the layout */
  left: 0; /* Starts at the left edge */
  right: 0; /* Ends at the right edge */
  text-align: left;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
  gap: 2rem;
}
.footer-links{
  margin-right: 10px;
}

.footer-image {
  display: flex;
  align-items: center;
  float: right;
}

.github-image {
  width: 40px;
  height: 40px;
}

.text-container {
  margin: 0;
}

.copyright {
  flex: 1;
  max-width: 800px;
  font-size: 16px;
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  .copyrights {
    font-size: 14px; /* Smaller font size for mobile */
  }
  
  .copyrights b {
    font-size: 15px; /* Slightly larger for headings but still smaller than desktop */
  }
}

/* For even smaller screens */
@media screen and (max-width: 480px) {
  .copyrights {
    font-size: 12px; /* Even smaller font size for very small devices */
  }
  
  .copyrights b {
    font-size: 13px;
  }
}

#github-text {
  margin: 0;
}